@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.navbar{
    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    z-index: 9999;
    background-image: linear-gradient(to right, #b92b27, #1565c0);
    background-size: 150%;
    font-family: 'Dancing Script', cursive;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 2px;
    padding: 2px;
    transition: 2s;
    font-size: 13px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar:hover{
    background-image: linear-gradient(to left, #b92b27, #1565c0);
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
    background-position: right center;
    

}
@media (min-width: 768px){
 .navbar{
     padding: 7px;
     font-size: 18px;
 }
    
}
